#cloud-config
users:
  users:
  # when a 'default' entry is found it will reference the 'default_user'
  # /etc/cloud/cloud.cfg
  # - name: default # will create default_user like ubuntu,rocky,...
  #   ssh_authorized_keys:
  #     - ssh-ed25519 ..."

  - name: rick
    groups: users, admin, wheel
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    gecos: "DevOps Engineer"
    passwd: ""
    shell: /bin/bash
    ssh_authorized_keys:
      - ""

# SSH Configs
allow_public_ssh_keys: true
ssh_pwauth: false

write_files:
  - path: /etc/ssh/sshd_config.d/ssh-hardening.conf
    content: |
      Port 2200
      KbdInteractiveAuthentication no
      ChallengeResponseAuthentication no
      MaxAuthTries 2
      AllowTcpForwarding no
      X11Forwarding no
      AllowAgentForwarding no
      AuthorizedKeysFile .ssh/authorized_keys
      AllowUsers rick

# runs Final stage via user_scripts
runcmd:
  - sudo dnf config-manager --set-enabled crb
  - sudo dnf install epel-release

# runs in Third (Final) stage
package_upgrade: true
packages:
  - ca-certificates
  - curl
  - gnupg
  - htop
  - tree
  - tmux

final_message: "The system is finally up, after $UPTIME seconds"
output: {all: '| tee -a /var/log/cloud-init-output.log'}
